{% extends "schedule/base.html" %}
{% load scheduletags %}

{% block extra_head %}
{{block.super}}

<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.weekcalendar.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/weekcalendar.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/schedule_weekcalendar.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.weekcalendar.js"></script>
<script type="text/javascript">
    {% include "schedule/schedule_lib.js" %}
</script>
<script type="text/javascript">
    {% include "schedule/weekcalendar_config.js" %}
</script>
<script type="text/javascript">
    {% include "schedule/weekcalendar.js" %}
</script>

{% endblock %}

{% block body %}

<div class="navigation">
  <a href="{% url month_calendar calendar.slug %}{% querystring_for_date periods.week.start 2 %}">
    Month
  </a>
  <a href="{% url year_calendar calendar.slug %}{% querystring_for_date periods.week.start 1%}">
    Year
  </a>
</div>

<div id="week">
	<div id='calendar'></div>
    <div id="editing_choice_dialog" title="This is a recurring event" style="display:none;">
        Do you want to edit this single occurrence, or the whole chain?
    </div>
	<div id="event_edit_container" style="display:none;">
		<form>
			<input type="hidden" />
			<ul>
				<li>
					<span>Date: </span><input type="text" name="start_date"/>
				</li>
				<li>
					<label for="start">Start Time: </label><select name="start"><option value="">Select Start Time</option></select>
				</li>
				<li>
					<label for="end">End Time: </label><select name="end"><option value="">Select End Time</option></select>
				</li>
                                <li>
					<label for="end">Rule: </label>
                                        {% rule_select "rule" %}
				</li>
                                <li>
					<label for="end">End reccurring period: </label>
                                        <input type="text" name="end_recurring_period"/>
				</li>
				<li>
					<label for="title">Title: </label><input type="text" name="title" />
				</li>
				<li>
					<label for="body">Body: </label><textarea name="body"></textarea>
				</li>
			</ul>
		</form>
	</div>
	<div id="occurrence_edit_container" style="display:none;">
		<form>
			<input type="hidden" />
			<ul>
				<li>
					<span>Date: </span><span class="date_holder"></span> 
				</li>
				<li>
					<label for="start">Start Time: </label><select name="start"><option value="">Select Start Time</option></select>
				</li>
				<li>
					<label for="end">End Time: </label><select name="end"><option value="">Select End Time</option></select>
				</li>
				<li>
					<label for="title">Title: </label><input type="text" name="title" />
				</li>
				<li>
					<label for="body">Body: </label><textarea name="body"></textarea>
				</li>
			</ul>
		</form>
	</div>
</div>

{% endblock %}
