<div id="eventModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><span id="EditorDelete"></span> Event</h4>
      </div>
      <div class="modal-body">
        <p>Would you like to <span id="editordelete"></span> all occurrences in this event or just this occurrence?</p>
      </div>
      <div class="modal-footer">
        <a href='#' id='allevent'>
          <button type="button" class="btn btn-default">All</button>
        </a>

        <a href='#' id='thisevent'>
          <button type="button" class="btn btn-default">This</button>
        </a>

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>