{% load i18n %}

<link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css' />
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script type='text/javascript'>
document.addEventListener('DOMContentLoaded', function() {

    function getEventViewURL(event) {
        if (event.extendedProps.existed) {
            if ("{{ request.get_full_path }}".indexOf("/admin") != 0) {
                return "{% url 'occurrence' 12345 6789 %}".replace(/12345/, event.extendedProps.event_id).replace(/6789/, event.id);
            } else {
                return "{% url 'admin:schedule_occurrence_change' 12345 %}".replace(/12345/, event.id);
            }
        } else {
            if ("{{ request.get_full_path }}".indexOf("/admin") != 0) {
                return "{% url 'event' 12345 %}".replace(/12345/, event.extendedProps.event_id);
            } else {
                return "{% url 'admin:schedule_event_change' 12345 %}".replace(/12345/, event.extendedProps.event_id);
            }
        }
    }

    function setModalProperties(type, event) {
        var props = event.extendedProps;
        if (type == 'edit') {
            var tYPE = '{% trans "Edit" %}';
            var all_url = "{% url 'edit_event' calendar_slug 12345 %}".replace(/12345/, props.event_id);
            if (props.existed) {
                var this_url = "{% url 'edit_occurrence' 12345 6789 %}".replace(/12345/, props.event_id).replace(/6789/, event.id);
            } else {
                var this_url = "{% url 'edit_occurrence_by_date' 123 234 345 456 567 678 789 %}".replace(
                        /123/, props.event_id).replace(
                        /234/, props.year).replace(
                        /345/, props.month).replace(
                        /456/, props.day).replace(
                        /567/, props.hour).replace(
                        /678/, props.minute).replace(
                        /789/, props.second);
            }
        } else if (type == 'delete') {
            var tYPE = '{% trans "Delete" %}';
            var all_url = "{% url 'delete_event' 12345 %}".replace(/12345/, props.event_id);
            if (props.existed) {
                var this_url = "{% url 'cancel_occurrence' 12345 6789 %}".replace(/12345/, props.event_id).replace(/6789/, event.id);
            } else {
                var this_url = "{% url 'cancel_occurrence_by_date' 123 234 345 456 567 678 789 %}".replace(
                        /123/, props.event_id).replace(
                        /234/, props.year).replace(
                        /345/, props.month).replace(
                        /456/, props.day).replace(
                        /567/, props.hour).replace(
                        /678/, props.minute).replace(
                        /789/, props.second);
            }
        }

        document.getElementById('allevent').setAttribute('href', all_url);
        document.getElementById('thisevent').setAttribute('href', this_url);
        document.getElementById('editordelete').innerHTML = type;
        document.getElementById('EditorDelete').innerHTML = tYPE;
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        editable: true,
        dayMaxEvents: true,
        selectable: true,
        selectMirror: true,
        events: "{% url 'api_occurrences' %}?calendar_slug={{calendar_slug}}",
        loading: function(isLoading) {
            var el = document.getElementById('loading');
            if (el) {
                el.style.display = isLoading ? '' : 'none';
            }
        },
        eventDidMount: function(info) {
            var event = info.event;
            var element = info.el;
            var isTimeGrid = info.view.type.indexOf('timeGrid') === 0;

            if (isTimeGrid) {
                var titleEl = element.querySelector('.fc-event-title');
                if (titleEl) {
                    var link = document.createElement('a');
                    link.href = getEventViewURL(event);
                    link.innerHTML = titleEl.innerHTML;
                    titleEl.innerHTML = '';
                    titleEl.appendChild(link);
                }

                if (event.extendedProps.editable && "{{ request.get_full_path }}".indexOf("/admin") != 0) {
                    var timeEl = element.querySelector('.fc-event-time');
                    if (timeEl) {
                        var edit_button = document.createElement("button");
                        var edit_icon = document.createElement("span");
                        edit_button.className = 'btn btn-secondary btn-sm float-end edit_event';
                        edit_button.onclick = function(jsEvent) {
                            jsEvent.preventDefault();
                            jsEvent.stopPropagation();
                            setModalProperties('edit', event);
                            var modalEl = document.getElementById('eventModal');
                            var modal = new bootstrap.Modal(modalEl);
                            modal.show();
                        };
                        edit_icon.className = 'bi bi-pencil';
                        edit_button.appendChild(edit_icon);

                        var delete_button = document.createElement("button");
                        var delete_icon = document.createElement("span");
                        delete_button.className = 'btn btn-secondary btn-sm float-end delete_event';
                        delete_button.onclick = function(jsEvent) {
                            jsEvent.preventDefault();
                            jsEvent.stopPropagation();
                            setModalProperties('delete', event);
                            var modalEl = document.getElementById('eventModal');
                            var modal = new bootstrap.Modal(modalEl);
                            modal.show();
                        };
                        delete_icon.className = 'bi bi-trash';
                        delete_button.appendChild(delete_icon);

                        timeEl.insertAdjacentHTML('beforeend', '<br>');
                        timeEl.appendChild(edit_button);
                        timeEl.appendChild(delete_button);
                    }
                }
            }
        },
        dateClick: function(info) {
            if (info.view.type === 'dayGridMonth') {
                calendar.changeView('timeGridWeek', info.date);
            }
        },
        eventDrop: function(info) {
            var event = info.event;
            var delta = Math.round((event.start - info.oldEvent.start) / 60000);
            fetch("{% url 'api_move_or_resize' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': csrftoken
                },
                body: new URLSearchParams({
                    'id': event.id,
                    'event_id': event.extendedProps.event_id,
                    'existed': event.extendedProps.existed,
                    'delta': delta
                })
            }).then(function(response) {
                return response.json();
            }).then(function(result) {
                calendar.refetchEvents();
            }).catch(function(error) {
                console.log(error);
                info.revert();
            });
        },
        eventResize: function(info) {
            var event = info.event;
            var delta = Math.round((event.end - info.oldEvent.end) / 60000);
            fetch("{% url 'api_move_or_resize' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': csrftoken
                },
                body: new URLSearchParams({
                    'id': event.id,
                    'event_id': event.extendedProps.event_id,
                    'existed': event.extendedProps.existed,
                    'delta': delta,
                    'resize': true
                })
            }).then(function(response) {
                return response.json();
            }).then(function(result) {
                calendar.refetchEvents();
            }).catch(function(error) {
                console.log(error);
                info.revert();
            });
        },
        select: function(info) {
            fetch("{% url 'api_select_create' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': csrftoken
                },
                body: new URLSearchParams({
                    'start': info.startStr,
                    'end': info.endStr,
                    'calendar_slug': '{{calendar_slug}}'
                })
            }).then(function(response) {
                return response.json();
            }).then(function(result) {
                calendar.refetchEvents();
            }).catch(function(error) {
                console.log(error);
            });
            calendar.unselect();
        }
    });
    calendar.render();
});
</script>
