{% load i18n %}
<h2 align="center">{{occurrence.title}}</h2>
<table align="center">
    <tr>
        <td>Starts</td>
        <td>{% blocktrans with occurrence.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}</td>
    </tr>
    <tr>
        <td>Ends</td>
        <td>{% blocktrans with occurrence.end|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}</td>
    </tr>
    {% if occurrence.event.rule %}
        <tr>
            <td>Reoccurs</td><td>{{occurrence.event.rule}}</td>
        </tr>
        {% if occurrence.id %}
        <tr>
            <td>Starts</td>
            <td>{% blocktrans with occurrence.event.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}</td>
        </tr>
        <tr>
            <td>Ends</td>
            <td>{% blocktrans with occurrence.event.end|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}</td>
        </tr>
        {% endif %}
    {% endif %}
</table>
{% if occurrence.description %}
<h3>Description</h3>
<p>{{occurrence.description}}</p>
{% endif %}

