{% extends "site_base.html" %}
{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ MEDIA_URL }}schedule.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ MEDIA_URL }}jquery-ui.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ MEDIA_URL }}jquery.tooltip.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}jquery-ui.js"></script>
<script src="{{ MEDIA_URL }}jquery.tooltip.js" type="text/javascript"></script>
{% endblock %}
