{% extends "schedule/base.html" %}
{% load scheduletags %}
{% block body %}
<p align="center"><b>{{ calendar.name }}</b></p>
<p><table align="center">
    <caption><a href="{% url year_calendar calendar.slug %}{% querystring_for_date periods.year.prev_year 1 %}"><img align="top" border="0" src="{{ MEDIA_URL }}left_mod.png"></a> &nbsp; <b>{{ periods.year }}</b> &nbsp; <a href="{% url year_calendar calendar.slug %}{% querystring_for_date periods.year.next_year 1 %}"><img align="top" border="0" src="{{ MEDIA_URL }}right_mod.png"></a></caption>
    <tr>
    {% for month in periods.year.get_months %}
        <td valign="top">{% month_table calendar month.start "small" %}</td>
        <td width="12">&nbsp;</td>
        {% ifequal forloop.counter 3  %}
            </tr>
            <tr>
        {% endifequal %}
        {% ifequal forloop.counter 6  %}
            </tr>
            <tr>
        {% endifequal %}
        {% ifequal forloop.counter  9 %}
            </tr>
            <tr>
        {% endifequal %}
    {% endfor %}
    </tr>
</table></p>
<p align="center">
<a href="{% url month_calendar calendar.slug %}">Current Month Calendar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url year_calendar calendar.slug %}">Current Year Calendar</a>
</p>
{% endblock %}
