{% extends "schedule/base.html" %}
{% load scheduletags %}
{% block body %}
<p align="center"><b>{{ calendar.name }}</b><br/>
{% daily_table calendar periods.day %}
</p>
<p align="center">
  <div class="navigation">
    <a href="{% url month_calendar calendar.slug %}{% querystring_for_date periods.day.start 2 %}">
      Current Month Calendar
    </a>
    <a href="{% url year_calendar calendar.slug %}{% querystring_for_date periods.day.start 1%}">
      Current Year Calendar
    </a>
  </div>
</p>
{% endblock %}
