body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

a {
  color: #000;
}

table, th, td {
  border-left: 1px solid #dddddd;
}

.btn-primary a strong {
  color: #FFF;
}

.btn-custom {
  background-color: #e6e6e6;
  border: 1px solid #cccccc;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #d9d9d9;
  border-color: #cdcdcd;
}

.row-centered {
    text-align: center;
}

.modal-content {
  color: #000;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
