{% extends "site_base.html" %}
{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/schedule.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.tooltip.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tooltip.js"></script>
{% endblock %}
